/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); */

body {
    font-family: 'Roboto', Arial;

    padding: 55px 0px 500px 0px;
}

.greet {
    position: fixed;

    display: flex;
    top: 0;
    left: 0;

    width: 100%;
    box-sizing: border-box;
    z-index: 100;

    align-items: center;
    justify-content: center;

    padding: 5px;
    background-color: rgb(219, 219, 219);
}

.greet h1{
    margin: 0;
    padding: 5px;
}
